.inp-search {
  padding: 0px 10px !important;
  border-radius: 20px !important;
  border: none !important;
  color: black !important;
}
.inp-search::placeholder {
  color: #cacaca !important;
}
.bnt-search {
  padding: 1px !important;
  border-radius: 50% !important;
  border: 2px solid white !important;
  background-color: transparent !important;
  transform: translateY(3px) !important;
  margin-left: 10px !important;
  margin-bottom: 5px !important;
}
.bnt-search i {
  color: white !important;
  font-size: 24px !important;
  padding: 1px !important;
}

