.inp-search {
  padding: 0px 10px !important;
  border-radius: 40px !important;
  border: none !important;
  color: black !important;
  /* position: absolute !important; */
  width: 382px !important;
  height: 45px !important;
}

.inp-search::placeholder {
  color: #cacaca !important;
  width: 382px;
}
.bnt-search {
  padding: 1px !important;
  border-radius: 50% !important;
  border: 2px solid white !important;
  background-color: #f695a0 !important;
  transform: translateY(3px) !important;

  position: absolute;
  right: 22px;
  top: 1px;
}
.bnt-search i {
  color: white !important;
  font-size: 24px !important;
  padding: 1px !important;
}

.pb-2 {
  /* position: relative; */
  width: 215px;
  margin-left: 271px;
}

.formRegister {
  width: 400px !important;
  position: relative;
  left: 181px;
}

.login {
  margin-right: 10px;
  font-weight: 400;
  font-size: 26px;
}

.register {
  border: 2px solid white;
  padding: 0px 17px 4px 17px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 26px;
}
.button_add {
  color: #f695a0 !important;
  border-color: #f695a0 !important;
  background-color: white !important;
  float: right;
}

.header-card {
  margin-top: 24px !important;
  opacity: 70% !important;
}
.plus_button {
  margin-left: 5px;
}

